<h1 class="text-center">Contato</h1>
<p ng-show="mensagem.texto">{{mensagem.texto}}</p>
<form ng-submit="salva()">
    <div class="form-group">
      <label for="nome">Nome Completo</label>
      <input type="text" name="nome" class="form-control" id="nome" required ng-model="contato.nome">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="email" name="email" class="form-control" id="email" placeholder="email@exemplo.com.br" ng-model="contato.email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <div class="input-group">
          <input type="text" name="senha" class="form-control" id="senha" ng-model="contato.senha" required>
      </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="#/" class="bnt btn-default">Voltar</a>
    </div>
</form>
